<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Property Whois</title>
</head>
<body>
<h1>Property Whois</h1>
<span>Programmatically find the name of a parcel's owner!</span>
<hr>
<h2>How To</h2>
<h3>The call:</h3>
<code>https://tools.wprdc.org/property_whois/whois/&lt;parcel_id&gt;</code>
<h3>The result:</h3>
<code>
    { <br>
    &nbsp;&nbsp;"name": &lt;the_owners_name&gt;, <br>
    &nbsp;&nbsp;"success": &lt;true|false&gt; <br>
    } <br>
</code>
<hr>
<h2>Example</h2>
<h3>This call:</h3>
<code>https://tools.wprdc.org/property_whois/whois/0028F00194000000/</code>

<h3>Returns:</h3>
<code>
    { <br>
    &nbsp;&nbsp;"name": "UNIVERSITY OF PITTSBURGH OF THE COMMONWEALTH SYSTEM OF HIGHER EDUCATION", <br>
    &nbsp;&nbsp;"success": true <br>
    }
</code>

</body>
</html>